<% provide(:title, "About") %>
<h1>About</h1>
<p> The objective of this project is to model some of the core features of Eventbrite.</p>
<p>View the source code <a href=https://github.com/jonathansking/private-events>here</a>.</p>
